@import "./style.css";
@import "~bootstrap/scss/bootstrap";

.speed-reading-body {
  text-align: center;
}

.br-rad-6 {
  border-radius: 6px;
  border: 1px groove #acacaca8;
}

.min-vh-10 {
  min-height: 10vh;
}

.min-vh-20 {
  min-height: 20vh;
}

.min-vw-20 {
  min-width: 20vw  !important;
}

.min-vw-40 {
  min-width: 40vw !important;
}
