@import "./style.css";
@import "~bootstrap/scss/bootstrap";

.speed-reading-body {
  text-align: center;
}

.br-rad-6 {
  border-radius: 6px;
  border: 1px groove #acacaca8;
}

.min-vh-10 {
  min-height: 10vh;
}

.min-vh-20 {
  min-height: 20vh;
}

.min-vw-20 {
  min-width: 20vw  !important;
}

.min-vw-40 {
  min-width: 40vw !important;
}

.min-w-300-px {
  min-width: 300px !important;
}

.align-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center; /* Optional, to align inner items 
                              horizontally inside the column */
}

.btn-light-style {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.btn-light-style:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background: #f6f6f6;
}

.btn-light-style:active {
  position: relative;
  top: 1px;
}
